<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles.css">
    <title>About page</title>
</head>
<body>
    <h1>This is all about me!</h1>
    <p> This blog is about <%= data.name %> </p>
    <p> <%= data.name %> is a <%= data.job %> </p>
    <p> You can contact <%= data.name %> at <%= data.email %> </p>
</body>
</html>